* {
  margin: 0;
  font-family: "Rubik", 'sans-serif';
}

#cadastrar, #entrar {
  display: inline;
  float: right;
  border-radius: 4px; /* Alteração na borda em cadastrar e em entrar */
} 


#cadastrar, #entrar:hover {
  background-color: #4d4d4d;
  color: #fff;
}

.menu {
  font-weight: bold;
  line-height: 10px;
  font-size: 15px;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
  
.nav > #nav-check {
  display: none;
}

footer {
  padding: 10px;
  text-align: center;
  background: #4d4d4d;
  margin-top: 0px;
  color: #ddd;

  height: 100%;
  height: 100%; /* Alteração no footer */
}


html, body {
  background: #efefef;      
}

#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #4d4d4d;
  width: 80px;
  height: 80px;  
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.6), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn#my-btn {
     background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #00acc1;
}
#chat-overlay {
    background: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}


.chat-box {
  display:none;
  background: #efefef;
  position:fixed;
  right:30px;
  bottom:50px;  
  width:350px;
  max-width: 85vw;
  max-height:100vh;
  border-radius:5px;  
  z-index: 1;
}
.chat-box-toggle {
  float:right;
  margin-right:15px;
  cursor:pointer;
}

.chat-box-profile {
  float:left;
  margin-left:15px;
  cursor:pointer;
}

.chat-box-header {
  background: #4d4d4d;
  height:70px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:17px;
}
.chat-box-body {
  position: relative;  
  height:370px;  
  height:auto;
  border:1px solid #ccc;  
  overflow: hidden;
  display: flex;

}
.chat-box-body:after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  position: absolute;
  z-index: -1;   
}    
#chat-input {
  background: #f4f7f9;
  width:100%; 
  position:relative;
  height:47px;  
  padding-top:10px;
  padding-right:50px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  border:1px solid #ccc;
  color:black;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden;  
}
.chat-input > form {
    margin-bottom: 0;
}
#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {  
  position:absolute;
  bottom:3px;
  right:10px;
  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:#4d4d4d;
  width:40px;
  height:40px;
}

.chat-logs {
  padding:15px; 
  height:370px;
  overflow-y:scroll;
  display: block;
  width: 500px;
}

#localizacao {
  text-align: center;
}

#map {
  height: 400px;
}

ul {
  list-style-type: none;
}

.chat-logs::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar
{
  width: 5px;  
  background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
  background-color: #4d4d4d;
}



@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.self {
  float: right;
  text-align: center;
}

.chat-msg.self .msg-avatar img {
  border-radius:50%;
  width:45px;
  height:45px;
  float: right;
}


hr {
  background: #e9e9e9;
  border: 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
  margin: 0;
  min-height: 1px;
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  
}
.chat-msg.self > .msg-avatar img {
  width:45px;
}

#logo {
  width: 50px;
  height: 50px;
}

img.imagem-principal {
  padding: 0;
  width: 100vw!important;
}

main {
  position: relative;
  margin: 0 auto;
}

#search-container {
  text-align: center;
  padding: 20px;
}

.card {
  margin: 15px;
  border-radius: 15px;
}

.card img {
  border-radius: 15px;
}

.categorias {
  background-color: #4d4d4d;
  padding: 15px;
  text-align: center;
  color: white;
}

.footer-dark {
  padding:50px 0;
  color:#ffffff;
  background-color:#4d4d4d;
  margin-bottom: 0px;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size: 14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
  font-weight: lighter;
  font-size: 14px;
  padding: 0 20px;
}

.footer-dark ul a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s; /* Alteração: Adicionando links animados no footer */
}

.footer-dark ul a:hover::after {
  width: 100%;
  transition: width .3s;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  height: 60px;
  margin: 16px 46px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 5;
}

nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #4d4d4d;
}

nav ul li {
  display: inline-block;
  padding: 16px 40px;;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  font-size: 16px;
}

nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width .3s; /* Alteração: Adicionando link animados */
}

nav ul li a:hover::after {
  width: 100%;
  transition: width .3s;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media(max-width: 786px) {
    .logo {
        margin-top: 16px;
        height: 60px;
    }

    nav ul {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s;
        width: 100%;
        background: #000;
        flex-direction: column;
    }

    nav.black ul {
        background: #4d4d4d;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }
}

.nav-link {
    font-size: 15px;
    color: white;
}

/* ----------------Login page--------------------- */

.submit-login {
    padding-top: 10px;
    background: white;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    max-width: 400px;
    max-height: 350px;
    margin: 10% 0 10% 37%;
}

.submit-login p{
    padding: 0;
    margin: 0;
}

/* ---------------- Dashboard --------------------*/

.main-content {
    display: flex;
    margin: 5% 0 0 0;
    padding: 0;
}

.main-content p{
    padding: 0;
    margin: 0;
}

/* Side-bar related */

.side-bar {
    background: #4d4d4d; 
    color: white;
    padding: 0;
    max-width: 200px;
    height: 100vh;
    border-radius: 0px 30px 30px 0px;
}

.dash-options hr{
    border-top: 2px solid white;
}

.user-infos {
    display: flex;
    padding-top: 5%;
    margin: 0;
    color: white;
}

.user-infos img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.personal{
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 5%;
    margin: 0;
}

.personal h6{
    font-size: 15px;
    margin: 0;
}
.personal p {
    font-size: 11px;
    margin: 0;
}

/* Tab content related */

.titulos-tabelas{
    margin-top: 15px;
    margin-left: 42%;
    margin-bottom: 20px;
}

.fields-tabelas{
    padding-top: 10px;
}

.tab-content {
    padding-left: 5%;
    margin: 0;
}

.flex-container {
    display: flex;
    padding-left: 175px;
    grid-template-columns: 1fr 1fr;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="number"]{
    box-sizing: border-box;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
    border-radius: 5px 5px 5px 5px;
    margin: 10px 10px;
    width: 90%;
    height: 40px;
}

input[type="radio"] {
    margin: 5px;
}

button {
    background: #04AA6D;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 0 20px 0;
    border: none;
    width: 90%;
    height: 40px;
}

.aviso_erro {
    margin-bottom: 5px;
}

/*-----Gerenciar Users-----------
 *
/* Criar user content related */

.criar-users-func{
    border-radius: 10px 0px 0px 10px;
    background: white;
    text-align: center;
    width: 500px;
}

/* Deletar user content related */

.deletar-users-func {
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    width: 400px;
    text-align: center;
}

.deletar-users-func h2{
    padding-top: 65px;
}

.deletar-users-func button{
    background: #fa1644;
    margin: 0;
    margin-top: 10px;
}

/* ------- Avisos na Dash ---------- */

.avisos {
    display: grid;
    grid-template-columns: 400px 400px 400px;
}

.aviso-imagem img{
    border-radius: 10px;
    padding-bottom: 5%;
    max-height: 250px;
    width: 100%;
}

.aviso-content {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 20px;
}

.aviso-titulo {
    margin: 0;
    padding: 0;
}

.aviso-texto {
    margin-bottom: 5%;
}

/*---Gerenciar Posts----
* 
* Retira os botões de up e down no input number */

.gerenciar-posts{
    margin-left: 83px;
    margin-bottom: 25px;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* Criar posts content related */

 .criar-posts{
    border-radius: 10px 0px 0px 10px;
    background-color: white;
    width: 500px;
    text-align: center;
 }

 .criar-posts button{
    background: #fcba03;
 }


 .deletar-posts {
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    width: 400px;
    text-align: center;
}

.deletar-posts h2{
    padding-top: 65px;
}

.deletar-posts button{
    background: #fa1644;
    margin: 0;
    margin-top: 10px;
}


/* ------------- */

.divisoria-colorida-governo {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 14px;
  position: relative;
  width: 100%;
  padding: 0;
}

.cor-1 {
  background-color: #ffeb36;
}

.cor-2 {
  background-color: #f72930;
}

.cor-3 {
  background-color: #399fe8;
}

.cor-4 {
  background-color: #00dc58;
}

.cor-5 {
  background-color: #0f0a0a;
}

/* Card Efeito na View Welcome*/
#cards_landscape_wrap-2{
  text-align: center;
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px; 
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a{
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box{
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img{
  width: 100%;
  height: 200px;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img{
  opacity: 0.7;
  -webkit-transform:scale(1.15);
  -moz-transform:scale(1.15);
  -ms-transform:scale(1.15);
  -o-transform:scale(1.15);
  transform:scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box{
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container{
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer{
  background: #FFFFFF;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}
#cards_landscape_wrap-2 .card-flyer:hover{
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p{
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px; 
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6{
  margin-top: 0px;
  margin-bottom: 4px; 
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Black', sans-serif;
  letter-spacing: 1px;
  color: #00acc1;
}

.conteudo-hist {
  margin-top: 5%;
  font-size: 20px;
}

/* Eventos related: */


.botm {
    background: #293240;
    border-radius: 100px 100px 100px 100px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5%;
}

.eventos {
    margin-bottom: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.tabs-eventos {
    margin: 0;
    padding: 0;
}

.tabs-eventos hr{
    background: black;
    border-top: 4px solid black;
}

.tab-individual {
    margin: 10px;
    display: flex;
}

.titulo-evento {
    color: #1d85db;
}

.evento-dados {
    padding-left: 10px;
}

.evento-content {
    margin-top: 5%;
    text-align: center;
    margin-bottom: 50%;
}

.cont-titulo {
    color: #1d85db;
}


.evento-id { margin: 0; padding: 0;}
.evento-time { margin: 0; padding: 0;

/* ---------------- */

.img-equipe {
  width: 200px;
  height: 200px;
}

.container-equipe {
  padding: 5em;
  margin-top: 20px;
  text-align: center;
  
}

.estud {
  width: 100%;
}

.esc-old {
  margin-top: 10px;
  width: 50%;
}
